# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.morning_studies_02.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\emili\OneDrive\Documents\GitHub\Python-SchoolProjects\Object-Oriented-Programming\morning_studies_02\.idea\.idea.morning_studies_02.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
