# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.3_Growing_the_array.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\emili\OneDrive\Documents\GitHub\Python-SchoolProjects\Object-Oriented-Programming\3_Growing_the_array\.idea\.idea.3_Growing_the_array.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
